* {
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-image: url(imagens/fundo-pato-ex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main-form {
    display: flex;
    flex-direction: column;

}

select {
    font-size: 1rem;
}

.divform1 {
    width: 330px;
    align-self: center;
    text-align: center;
    font-size: 1.8rem;
}

.divform2 {
    background-color: #2f90ab;
    height: 480px;
    border-radius: 20px;
}

.patobone {
    position: relative;
    top: 30px;
}

.main-sign_in {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.button_index{
    padding: 1px;
}
.login_sign{
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    border-style: ridge;
    width: 160vh;
    border-width: 5px;
    background-color: rgb(246, 243, 243);

}
.header{
    display: flex;
    gap: 18vh;
    align-items: baseline;
}

@media screen and (max-width: 400px) {
    body{
        display: flex;
        background-image: none;
        background-color: aqua;

    }
    .divform2{
    width: 200px;
    align-items: center;
  }
.main-form{
    display: flex;
    align-items: center;
}
}
