* {
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-image: url(imagens/fundo-pato-ex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main-form {
    display: flex;
    flex-direction: column;

}

 input, select{
    width: 42vh;
  }

.divform1 {
    width: 45vh;
    align-self: center;
    text-align: center;
    font-size: 1.8rem;
        align-items: center;
}

.divform2 {
    font-size: 1.7rem;
    background-color: #2f90ab;
    height: 64vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patobone {
    position: relative;
    top: 30px;
}

.main-sign_in {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.button_index{
    padding: 1px;
}
--------------------------------------------------------------------------------------------------------------------------------
.login_sign{
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    border-style: ridge;
    width: 160vh;
    border-width: 5px;
    background-color: rgb(246, 243, 243);

}
.header{
    display: flex;
    gap: 18vh;
    align-items: baseline;
}

@media screen and (max-width: 400px) {
    body{
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: aqua;

    }
    .divform2{
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
    width: 45vh;
    height: 68vh;
    border-radius: 0;
    position: relative;
    left: 0.2vh;
    align-items: center;
  }
  input, select{
    width: 30vh;
  }
  }

  @media screen and (min-width:400px) and (max-width:665px) {
    body{
        background-image: none;
        background-color: red;
    }
    .divform2{
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        height: 66vh;
        width: 45vh;
        position: relative;
align-items: center;
        left: 0.8vh;
    }
     input, select{
    width: 28vh;
  }
}
.p-acess{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.h2--index{
    font-size: 2rem;
}
.p-e-a{
    color: rgb(213, 91, 213);

}
